In [5]:
tmp <- cbind.data.frame(c(1,2,3,4,5),c(10,11,12,13,14))

In [9]:
colnames(tmp) <- c('mycol1','mycol2')

In [10]:
tmp

  mycol1 mycol2
1 1      10
2 2      11
3 3      12
4 4      13
5 5      14

In [11]:
tmp2 <- transform(tmp, mycol2 = sample(mycol2))

In [12]:
tmp2

  mycol1 mycol2
1 1      11
2 2      12
3 3      14
4 4      10
5 5      13

In [14]:
lmres <- summary(lm(mycol1~mycol2,data=tmp2))

In [17]:
lmres

Call:
lm(formula = mycol1 ~ mycol2, data = tmp2)

Residuals:
   1    2    3    4    5
-1.8 -1.0 -0.4  1.4  1.8

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   0.6000     6.8352   0.088    0.936
mycol2        0.2000     0.5657   0.354    0.747

Residual standard error: 1.789 on 3 degrees of freedom
Multiple R-squared:   0.04,	Adjusted R-squared:  -0.28
F-statistic: 0.125 on 1 and 3 DF,  p-value: 0.7471

In [16]:
lmres$fstatistic

value numdf dendf
0.125 1.000 3.000

In [18]:
tmp

  mycol1 mycol2
1 1      10
2 2      11
3 3      12
4 4      13
5 5      14